.fav__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}