.product__container{
  height: 100vh;
}
.product__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product__header-title{
  font-family: $font-title;
  color: $primary;
}
.product__header-icon{
  height: 2.5rem;
  width: 2.5rem;
  padding: 1rem;
}
.product__img{
  width: 30rem;
  margin-bottom: 1rem;
}
.product__content{
  width: 95%;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}
.product__title{
  font-size: 2.2rem;
  width: 100%;
  text-align: left;
}
.product__description{
  margin: 1.5rem 0;
  color: $font-color-o;
}
.product__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.product__score{
  display: flex;
  align-items: center;
  svg{
    fill: $primary;
    width: 2rem;
    height: 2rem;
  }
}
.product__price{
  color: $primary;
  font-weight: bold;
  font-size: 2rem;
}
.product__add{
  display: absolute;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  border: none;
  background-color: $primary;
  color: $font-color;
  border-top-right-radius: 6rem;
  border-top-left-radius: 6rem;
  grid-gap: 1rem;
  box-shadow: 0rem 0rem 3rem -0.6rem rgba($color: #000000, $alpha: 0.7);
}