.product__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product__header-title{
  font-family: $font-title;
  color: $primary;
}
.product__header-icon{
  height: 2.5rem;
  width: 2.5rem;
  padding: 1rem;
}
.product__img{
  width: 30rem;
}