
$primary-xo: #b2295d;
$primary-o: #dd1b66;
$primary: #FF0063;
$primary-l: #ff3281;
$primary-xl: #ff5395;

$secondary: #66BFBF;

$bg-color: #23232f;
$bg-color-l: #2d2d3d;

$font-color: #fff;
$font-color-o: #979797;

$font-text: 'Open Sans', sans-serif;
$font-title: 'Russo one', sans-serif;